/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.minefield {
  line-height:0;
  border-spacing:0;
}
.level {
  text-align: center;

}
.minefield td {
  padding:0;
}
h1 {
  text-align: center;
}
table {
  margin: 50px auto 0;
  border: 3px solid rgb(7, 13, 21);
  box-shadow: 10px 10px 15px #888888;
}
td{
  background-color: rgba(135, 135, 177, 0.35);
  border: 1px solid rgba(149, 168, 183, 0.45);
  color:whitesmoke;
  height:24px;
  width:24px;
}
td span {
  background-color: rgba(65, 222, 52, 0.53);
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}